<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
	<section class="features-area section-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">

				</div>
			</div>
			<br /><br />
		</div>
	</section>

	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="blog-comments-form">
								<div class="con-4 bottom-title">
									<h2>DDC 등록</h2>

								</div>
								<!-- Comment Form -->
								<form class="form" method="post">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label>DDC 번호</label>
												<input type="text" id="ddc"  name="name" required="required" placeholder="DDC 번호 : 예)176">
												<input type="hidden" id="ddcid">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label>설치위치</label>
												<input type="text" id="location" name="comment" required="required" placeholder="설치위치를 입력해주세요">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label>Gateway 선택</label>
												<select id="gatewayId" name="gateway_name" >
												</select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-4">
												<div class="form-group">
													<input type="button" id="addBtn" name="name" required="required" onclick="add_row()" value="추가">
												</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<table class="table table-bordered table-hover text-center" style="color: #FFF; border-top: 1px solid #ddd">
												<thead>
												<tr style="color: black; vertical-align:middle;">
													<th>번호</th>
													<th>DI 등록</th>
													<th>DO 등록</th>
													<th>명칭등록</th>
													<th>메세지</th>
													<th>메세지 전송</th>
													<th>상태 색</th>
													<th>삭제</th>
												</tr>
												</thead>
												<tbody id="my-tbody" style="color:black">
												<tr style="vertical-align:text-bottom">
													<td><input id="seq_1" type="text" name="seq" required="required" placeholder="순서" class="seqinput" value="1"></td>
													<td><select id="di_1" name="ddc_name" >
														<option value = "" selected> </option>
														<option value = "1">DI #1</option>
														<option value = "2">DI #2</option>
														<option value = "3">DI #3</option>
														<option value = "4">DI #4</option>
														<option value = "5">DI #5</option>
														<option value = "6">DI #6</option>
														<option value = "7">DI #7</option>
														<option value = "8">DI #8</option>
													</select></td>
													<td><select id="doId_1" name="ddc_name" >
														<option value = "" selected> </option>
														<option value = "1">DO #1</option>
														<option value = "2">DO #2</option>
														<option value = "3">DO #3</option>
														<option value = "4">DO #4</option>
														<option value = "5">DO #5</option>
														<option value = "6">DO #6</option>
														<option value = "7">DO #7</option>
														<option value = "8">DO #8</option>
													</select></td>
													<td><input id="name_1" type="text" name="name" required="required" placeholder="명칭을 등록해주세요"></td>
													<td><input id="message_1" type="text" name="message" required="required" placeholder="메세지를 등록해주세요"></td>
													<td><input type="radio" name="use_1" id="usey_1" placeholder="radio" style="width: 16px; vertical-align: middle;padding-left: 3px;" value="YES"> YES
														<input type="radio" name="use_1" id="usen_1" placeholder="radio" style="width: 16px; vertical-align: middle;padding-left: 3px;" value="NO"> NO</td>
													<td>
														<select id="color_1" name="ddc_name" >
															<option value = "" selected> </option>
															<option value = "btn-primary">파랑</option>
															<option value = "btn-secondary">회색</option>
															<option value = "btn-success">연두색</option>
															<option value = "btn-danger">빨강</option>
															<option value = "btn-warning">노랑</option>
															<option value = "btn-info">청록</option>
															<option value = "btn-dark">검정</option>
														</select>
													</td>
													 <td>

													 </td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
<!--										<div class="col-12">-->
<!--											<div class="form-group">-->
<!--												<button type="button" class="btn btn-primary">Primary</button>-->
<!--												<button type="button" class="btn btn-secondary">Secondary</button>-->
<!--												<button type="button" class="btn btn-success">Success</button>-->
<!--												<button type="button" class="btn btn-danger">Danger</button>-->
<!--												<button type="button" class="btn btn-warning">Warning</button>-->
<!--												<button type="button" class="btn btn-info">ON</button>-->
<!--												<button type="button" class="btn btn-dark">OFF</button>-->
<!--											</div>-->
<!--										</div>-->
									<div class="row">
										<div class="col-6">
											<div class="form-group button">
												<button onclick="save()" id="saveBtn" type="button" class="bizwheel-btn primary effect">저장&nbsp;&nbsp; <i class="fa fa-paper-plane"></i></button>
												<button onclick="update()" id="updateBtn" type="button" class="bizwheel-btn primary effect">저장&nbsp;&nbsp; <i class="fa fa-paper-plane"></i></button>
											</div>
										</div>
									</div>
								<!--/ End Comment Form -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<style>

		.seqinput
		{
			width: 30px !important
		}
		</style>

		<script>
			$(document).ready(function(){
				var id = "[[${id}]]";
				commoncode();
				if(id == ""){
				
					$('#updateBtn').hide();
				}else{
					init(id);
					$('#addBtn').hide();
					$('#saveBtn').hide();
				}

			});

			function init(id) {
				$.ajax({
					url:'/ddc/'+id, //request 보낼 서버의 경로
					type:'get', // 메소드(get, post, put 등)
					headers: {'Content-Type': 'application/json'},
					success: function(data) {
						const ddcinfo = data.data;
						console.log(ddcinfo);
						$('#seq_1').val(ddcinfo.seq);
						$('#di_1').val(ddcinfo.di);
						$('#doId_1').val(ddcinfo.doId);
						$('#name_1').val(ddcinfo.name);
						$('#message_1').val(ddcinfo.message);

						//$('input:radio[name=use_1]').val(ddcinfo.use);
						//$("input:radio[name=use_1]:radio[value='"+ddcinfo.use+"']").prop('checked', true);
						if(ddcinfo.use == "YES"){
							$("#usey_1").prop('checked', true);
						}else{
							$("#usen_1").prop('checked', true);
						}
						$('#color_1').val(ddcinfo.color);
						$('#ddc').val(ddcinfo.ddc);
						$('#location').val(ddcinfo.location);
					},
					error: function(err) {
						//서버로부터 응답이 정상적으로 처리되지 못햇을 때 실행
					}
				});
			}


			function commoncode(){
				$.ajax({
					url:'/gateway', //request 보낼 서버의 경로
					type:'get', // 메소드(get, post, put 등)
					headers: {'Content-Type': 'application/json'},
					success: function(data) {
						console.log(data);
						console.log(data.data);

						for (var prop in data.data){

							$('#gatewayId').append("<option value='"+data.data[prop].id+"'>"+data.data[prop].ipAddress+"</option>");
						}

					},
					error: function(err) {

					}
				});

			}


			function add_row() {
				var my_tbody = document.getElementById('my-tbody');
				// var row = my_tbody.insertRow(0); // 상단에 추가
				var row = my_tbody.insertRow( my_tbody.rows.length ); // 하단에 추가
				var rowNum = my_tbody.rows.length;

				if (rowNum < 9) {
					row.insertCell(0).innerHTML = '<input type="text" id="seq_'+rowNum+'" placeholder="순서" class="seqinput" value="'+rowNum+'">';
					row.insertCell(1).innerHTML = '<select id="di_'+rowNum+'" name="ddc_name">'
					+'<option value = "" selected> </option>'
							+'<option value = "1">DI #1</option>'
							+'<option value = "2">DI #2</option>'
							+'<option value = "3">DI #3</option>'
							+'<option value = "4">DI #4</option>'
							+'<option value = "5">DI #5</option>'
							
							+'<option value = "6">DI #6</option>'
							+'<option value = "7">DI #7</option>'
							+'<option value = "8">DI #8</option>'
							+'</select>';
					row.insertCell(2).innerHTML = '<select id="doId_'+rowNum+'" name="ddc_name">'
							+'<option value = "" selected> </option>'
							+'<option value = "1">DO #1</option>'
							+'<option value = "2">DO #2</option>'
							+'<option value = "3">DO #3</option>'
							+'<option value = "4">DO #4</option>'
							+'<option value = "5">DO #5</option>'

							+'<option value = "6">DO #6</option>'
							+'<option value = "7">DO #7</option>'
							+'<option value = "8">DO #8</option>'
							+'</select>';
					row.insertCell(3).innerHTML = '<input type="text" id="name_'+rowNum+'" required="required" placeholder="명칭을 등록해주세요">';
					row.insertCell(4).innerHTML = '<input type="text" id="message_'+rowNum+'" required="required" placeholder="메세지 내용">';
					row.insertCell(5).innerHTML = '<input type="radio"  name="use_'+rowNum+'"  placeholder="radio" style="width: 16px; vertical-align: middle;padding-left: 3px;" value="YES"> YES'
+'<input type="radio" name="use_'+rowNum+'"  placeholder="radio" style="width: 16px; vertical-align: middle;padding-left: 3px;" value="NO" checked> NO</td>';
					row.insertCell(6).innerHTML = '<select id="color_'+rowNum+'" name="ddc_name" >\n' +
							'<option value = "btn-primary">파랑</option>'+
					'<option value = "btn-secondary">회색</option>'+
					'<option value = "btn-success">연두색</option>'+
					'<option value = "btn-danger">빨강</option>'+
					'<option value = "btn-warning">노랑</option>'+
					'<option value = "btn-info">청록</option>'+
					'<option value = "btn-dark">검정</option></select>';
					row.insertCell(7).innerHTML = '<a onclick="deletelist(' + rowNum + ')"><i class="fa fa-2x fa-times"></i></a>';
				}else{
					alert('8개까지만 추가 가능합니다.')
				}
			}

			function deletelist(index) {


				for(var i = 0 ; i < document.getElementById('my-tbody').childNodes.length; i++){

					if(document.getElementById('my-tbody').children[i].children[0].innerText == index){
						document.getElementById('my-tbody').deleteRow(i);
						break;
					}

				}
				// console.log(document.getElementById('my-tbody').children[index]);
				//  document.getElementById('my-tbody').querySelector("td").children[index].parent.closest('tr').remove();
			}

			function save() {

				var body = document.getElementById('my-tbody').getElementsByTagName("tr");

				const data = [];


				for (var i = 0; i < body.length; i++) {

					var num = i + 1;
					var service = {
						seq: $('#seq_' + num).val(),
						di: $('#di_' + num).val(),
						doId : $('#doId_'+num).val(),
						name: $('#name_' + num).val(),
						message: $('#message_' + num).val(),
						use : $('input[name="use_'+ num +'"]:checked').val()==null ? "NO":$('input[name="use_'+ num +'"]:checked').val(),
						color: $('#color_' + num).val(),
						ddc: $('#ddc').val(),
						location: $('#location').val(),
						gatewayId : $("#gatewayId option:selected").val()
					}

					console.log(service);
					data[i] = service;
				}
				console.log(data);

				axios({
					url: '/ddc', //request 보낼 서버의 경로
					method: 'post', // 메소드(get, post, put 등)
					data: data, //보낼 데이터
					headers: {'Content-Type': 'application/json'},
				}).then(function (response) {
					//성공
					console.log(response);
					alert('저장완료');
					location.href='/equipment_list';
				}).catch(function (response) {
					console.log(response);
					alert("중복된 내역이 있는지 확인부탁드립니다.");
				});

			}
			function update() {

				var body = document.getElementById('my-tbody').getElementsByTagName("tr");
				console.log(body);
				var data = {
					seq:  $('#seq_1').val(),
					di: $('#di_1').val(),
					doId : $('#doId_1').val(),
					name: $('#name_1').val(),
					message: $('#message_1').val(),
					use : $('input[name="use_1"]:checked').val()==null ? "NO":$('input[name="use_1"]:checked').val(),
					color: $('#color_1').val(),
					ddc: $('#ddc').val(),
					location: $('#location').val(),
					gatewayId : $("#gatewayId option:selected").val()
				}

				console.log(data);

				axios({
					url: '/ddc/' + "[[${id}]]", //request 보낼 서버의 경로
					method: 'put', // 메소드(get, post, put 등)
					data: data, //보낼 데이터
					headers: {'Content-Type': 'application/json'}
				}).then(function (response) {
					//성공
					console.log(response);
					alert('저장완료');
					location.href='/equipment_list';
				}).catch(function (response) {
					console.log(response);
					alert(response.message);
				});
			}

		</script>
	</div>

	<!--        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="../static/assets/vendor/js/scripts.js"></script>-->
</div>
</html>