<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #draggable1, #draggable2, #draggable3, #draggable4, #draggable5, #draggable6{ 
      width: 150px; height: 180px; padding: 0.4em; 
      font-size: 0.5em;
      color:#333;
      border: 1px solid #999;
      border-radius: 3px;
      background-color: aquamarine;
      text-align: center;
  
   }
        
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#draggable1" ).draggable();
  } );
  $( function() {
    $( "#draggable2" ).draggable();
  } );
  $( function() {
    $( "#draggable3" ).draggable();
  } );
  $( function() {
    $( "#draggable4" ).draggable();
  } );
  $( function() {
    $( "#draggable5" ).draggable();
  } );
  $( function() {
    $( "#draggable6" ).draggable();
  } );    
  </script>
</head>
<body>
 
<div id="draggable1" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>
 
 <div id="draggable2" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>   
    
 <div id="draggable3" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>   
    
 <div id="draggable4" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>
 
 <div id="draggable5" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>   
    
 <div id="draggable6" class="ui-widget-content">
  <p>고수위경보 NORMAL</p>
  <p>저수위경보 NORMAL</p>
  <p>수위 : 74.3</p>
  <p>누수경보 NORMAL</p>
  <p>정화조 경보 45cc</p>
  <p>보일러 경보 45cc</p>
  <p>주방 경보 45cc</p>
  <p>전기 경보 45cc</p>
</div>
</body>
</html>