<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
		 <section class="features-area section-bg"   style="padding-top:50px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
					메세지 발생내역
					</div>
				</div>
			</div>
		</section>
		   <div class="container" style="padding-top:10px;">
        <table class="table table-bordered table-hover text-center" style="color: #FFF;  ">
            <tr style="vertical-align:middle">
                <th>번호</th>
                <th>GATEWAY</th>
                <th>DDC</th>
                <th>DCP</th>
                <th>메세지</th>
                <th>기기번호</th>
                <th>알람발생 일시</th>
            </tr>
            <tr  style="vertical-align:text-bottom">
                <td>3</td>
                <td>121.451.21.1</td>
                <td>1234</td>
                <td>1234</td>
                <td>거실전등이 꺼져있습니다. </td>
                <td>010-5224-5800</td>
                 
                <td>
                     20201105 17:00:45
                </td>
            </tr>
            <tr  style="vertical-align:text-bottom">
                <td>4</td>
                <td>121.451.21.1</td>
                <td>1234</td>
                <td>1234</td>
                <td>보일러전등</td>
               <td>010-5224-5800</td>
                 
                <td>
                    20201105 17:00:45
                </td>
            </tr>
            <tr  style="vertical-align:text-bottom">
                <td>5</td>
                <td>121.451.21.1</td>
                <td>1234</td>
                <td>1234</td>
                <td>안방전등</td>
               <td>010-5224-5800</td>
                 
                <td>
                    20201105 17:00:45
                </td>
            </tr>
              <tr  style="vertical-align:text-bottom">
                <td>6</td>
                <td>121.451.21.1</td>
                <td>1234</td>
                <td>1234</td>
                <td>작은방전등</td>
                <td>010-5224-5800</td>
                 
                <td>
                    20201105 17:00:45
                </td>
            </tr>
             <tr  style="vertical-align:text-bottom">
                <td>7</td>
                <td>121.451.21.1</td>
                <td>1234</td>
                <td>1234</td>
                <td>화장실 전등</td>
                <td>010-5224-5800</td>
                 
                <td>
                    20201105 17:00:45
                </td>
            </tr>
        </table>
                <nav class="text-center">
                <ul class="pagination ">
                    <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
        <br />
    </div>
	
</div>

</html>